[user]
	name = lmiogohnt
	email = ukiy24654@gmail.com
[alias]
	co = checkout
[core]
	editor = subl -w
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
