[user]
	name = ukiy
	email = ukiy24654@gmail.com
[alias]
	co = checkout
[core]
	editor = subl -w
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[http]
	proxy = http://proxy.uec.ac.jp:8080/
[https]
	proxy = http://proxy.uec.ac.jp:8080/
[url "https://"]
	insteadOf = git://
